[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200

remappings = ["@openzeppelin/=lib/openzeppelin-contracts/"]

[rpc_endpoints]
# TODO: confirm Arc testnet chain id and RPC URL
arcTestnet = "https://testnet-rpc.arc.network"
